<div class="main">
    <section class="chat-area">
        <div class="typing-area">
            <input type="text" id="name" placeholder="Digite seu nome">
            <button id="btnName" style="font-size: 12px;"><a href="/" style="text-decoration: none; color:#fff">Acessar chat</a></button>
        </div>
    </section>
</div>