body{
    margin: 0;
    padding: 0;
    background-color: #FBFBFB;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased !important
}
.main{
    width: 450px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.chat-area header{
    display: flex;
    align-items: center;
    padding: 18px 30px;
}
.chat-area header img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: #181818;
    margin-left: 15px;
}
.chat-area .details{
    margin-left: 15px;
}
.chat-area .details span{
    font-size: 17px;
    font-weight: 500;
} 
.chat-area .details p{
    margin: 0;
    font-size: 15px;
} 
.chat-box{
    height: 500px;
    overflow-y: auto;
    background-color: #f7f7f7;
    padding: 10px 30px 20px 30px;
}
.chat-box .chat{
    margin: 15px 0;
}
.chat-box .chat p{
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
}
.sent .details{
    margin-left:  auto;
    max-width: calc(100% - 130px);
}
.chat-box .sent{
    display: flex;
}
.sent .details p{
    background: #333;
    color: #fff;
    border-radius: 18px 18px 0 18px;
}
.chat-box .received{
    display: flex;
    align-items: flex-end;
    
}
.received .details{
    margin-right:  auto;
    margin-left: 10px;
    max-width: calc(100% - 130px);
}
.received .details p{
    color: #333;
    background: #fff;
    border-radius: 18px 18px 18px 0;
}
.chat-box .received img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.chat-area .typing-area{
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}
.typing-area input{
    height: 45px;
    width: calc(100% - 58px);
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px 0 0 5px;
    outline: none;
}
.typing-area button{
    width: 55px;
    border: none;
    outline: none;
    background: #333;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}